@media(min-width: 480px){
.main-container{
    display: flex;
    height: 100%;
}
.text-container{
    width: 95%;
}
.main-container .img{
    height: auto;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(./Imagenes/image-product-desktop.jpg);
    border-radius: 15px 0px 0px 15px;
}

}